.Outer {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.Inner {
    margin: 20px;
    width: 50%;
    display: inline-block;
}

.Select {
    width: 100%;
}

.Form {
    width: 100%;
}